.contacts__icon {
    max-width: 28px;
    width: 100%;
    height: auto;
    padding: 16px;
    background: rgb(255, 255, 255);
    border-radius: 50%;
    box-shadow: 0px 12px 30px rgba(205, 209, 214, 0.28);
    margin-right: 24px;
}

@media screen and (max-width: 820px) {
    .contacts__icon {
        margin-right: 0;
    }
}