.offer__paragraph {
    font-size: var(--Subtitle-size);
    color: var(--Accent-body);
    font-weight: 400;
    margin: 30px 0 0 0;
    line-height: 35px;
    text-align: left;
}

@media screen and (max-width: 820px) {
    .offer__paragraph {
       margin: 15px 0 0 0;
       line-height: 20px;
    }
}