@keyframes rotate {
    from {
        transform: rotateZ(0deg);
    }
    to {
        transform: rotateZ(360deg);
    }
}

.animation-rotate {
    animation-name: rotate;
    animation-duration: 20s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}